<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="./img/icons/netflix__icon.png">
    <link rel="stylesheet" href="./style/style__cadastro.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" >
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <title>Detalhes</title>
</head>
<body>
    
    <nav>
        <header>
            <img class="logo" src="./img/icons/logo.png" alt="logo__netflix">
            <div class="lista">
                <a class="lista__navegacao" href="/">Inicio</a>
                <a class="lista__navegacao" href="#">Series</a>
                <a class="lista__navegacao" href="#">Filmes</a>
                <a class="lista__corrent" href="#">Cadastrar</a>
            </div>

        </header>
            
    </nav>

<main>
    <div class="container">
        <% if(message){ %>
            <span><%= message %></span>
        <% } %>
        <section>
            <h2>EDITAR FILME OU SÉRIE</h2>
            <form method="POST" action="/editar">
                <div class="item">
                    <label for="nome">Nome: </label><br>
                    <input type="text" placeholder="Digite o nome do filme" name="nome" value="<%= filme.nome %>" required><br>
                </div>
                <div class="item">
                    <label for="descricao">Descrição: </label><br>
                    <textarea placeholder="Digite a descrição do filme" name="descricao" ><%= filme.descricao %></textarea><br>
                </div>
                <div class="item">
                    <label for="imagem">Link da Imagem: </label><br>
                    <input type="url" placeholder="Digite a URL da capa" name="imagem" value="<%= filme.imagem %>" required><br>
                </div>
                <input type="hidden" name="id" id="id" value="<%= filme.id %>">
                <div class="item">
                    <Button type="submit">Salvar alteração</Button>
                </div>
            </form>
        </section>
    </div>
</main>
<footer id='footer'>
    <center>
       <small>
        ©2022 Netflix. TM, ®Netflix.
    </small> 
    </center>
</footer>

<script src="./js/script.js"></script>
</body>
</html>